[Desktop Entry]
Version=1.0
Type=Application

Name=Geode Linux Installer
Comment=Bringing mod support to Geometry Dash.
Categories=Utility;KDE;

Icon=org.geode.Installer
Exec=run.sh
Terminal=false
